
    <div class="col-sm-3">
        <div href="#" class="card card-product-grid">
<a
style="cursor: pointer;"
[routerLink]="[index]"
routerLinkActive="active" (click)="onSelected()">
    <a href="#" class="img-wrap"> 
        <img [src]="product.imagePath"> </a>
                <figcaption class="info-wrap">
                    <a href="#" class="title" (click)="onSelected()">{{product.name}}</a>
                    <div class="price mt-1">{{product.price}}</div> <!-- price-wrap.// -->
                </figcaption>
</a>
<button type="button" class="btn btn-primary">Add to cart</button>
        </div>
    </div>

   
    

