<app-header></app-header>
  <!-- ========================= SECTION MAIN ========================= -->
  <section class="section-main bg padding-y">
     <div class="container">
        <div class="row">
          <aside class="col-md-3">
             <app-menu-category></app-menu-category>
          </aside> <!-- col.// -->
    <div class="col-md-9">
      <app-banner></app-banner>
    </div>
        </div> <!-- row.// -->
      </div> <!-- container //  -->
  </section>
  <section class="section-name padding-y-sm">
    <div class="container">
      <app-popular-product></app-popular-product>
      <app-popular-product-list></app-popular-product-list>
  </div>
  </section>
  <app-footer></app-footer>